	<div class="splash-photo">

		<div class="splash-text">
			<!-- <h1>Weather <span id="word" style="display:none"></span></h1> -->
			<h1>Weather<span class="vane"> vane</span></h1>
			<p>Customized, scheduled weather alerts for SMS and email</p>
		</div>
		

	</div>

	<div class="infographics">
		<div class="row">
			<div class="large-4 columns">
				<i class="fa fa-plus plus-logo"></i>
				<br>
				<br>
				<h2>Add a mode of communication</h2>
			</div>
			
			<div class="large-4 columns">
				<i class="fa fa-calendar calendar-logo"></i>
				<br>
				<br>
				<h2>Schedule when (and how) to receive alerts</h2>
			</div>
			
			<div class="large-4 columns">
				<i class="fa fa-mobile mobile-logo"></i> 
				<br>
				<BR>
				<h2>Get the info you want, wherever you want</h2>
			</div>

		</div>

		<div class="row">
			<input class="button" id="button" value="Start">
		</div>

		<div class="row">
			<p>YO This Is My Example</p>
		</div>

		<div class="row">
			<div class="questions large-10 columns large-offset-1" style="display: none">
				<p>HEYHEYEHEYEHEYE Hey Hey Hey Hey Hey Hey Hey Hey hey Hey Hey Hey hey Hey</p>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				$("#button").click(function () {
					$(".questions").fadeIn("slow");
					$(".button").css({"background-color": "#24193A"});
				});		
			})
		</script>

	</div>

	<div class="second-photo">
	</div>
